process {
    container = 'quay.io/biocontainers/samtools:1.18--h50ea8bc_1'

    // The samtools biocontainer ships no interpreter; SUMMARIZE is Python.
    withName: 'SUMMARIZE' {
        container = 'quay.io/biocontainers/python:3.12'
    }
}

docker {
    enabled = true
}

singularity {
    enabled    = false
    autoMounts = true
}

params {
    bam    = "*.bam"
    outdir = "results"
}
